.container {
    margin: 15px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    background: linear-gradient(135deg, #667eeaa4 0%, #764ba2c6 100%);
    cursor: none;
}

.text {
    fill: rgba(255,255,255,0.9);
    font-weight: 600;
}