.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 14px 26px;
    background: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navItem {
    color: #333;
    text-decoration: none;
    cursor: pointer;

    padding: 10px 18px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;

    transition: all 0.3s ease;
}

.navItem:hover {
    background: rgba(102, 126, 234, 0.12);
    color: #3d4cbd;
    box-shadow: 0 4px 12px rgba(102, 126, 234, 0.25);
    transform: translateY(-2px);
}

.toLogout {
    color: #b20000;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toLogout:hover {
    background: rgba(255, 0, 0, 0.15);
    color: #ff0000;
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.25);
}

.toHome {
    margin-right: auto;
}

.toPoints {
    margin: 0 20px;
}

.toLogout {
    margin-left: auto;
}
