.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: fit-content;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
